* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 0;
  width: 280px;
}

.header__logo {
  width: 100%;
  opacity: 0.5;
}

/* --- Section --- */
.section {
  margin-top: 50px;
}

.section__title {
  color: white;
  font-family: arial;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 20px 0;
}

.section-content {
  padding: 10px 10px 0 10px;
  -webkit-box-shadow: 0 0 0 9px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0 9px rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  background-color: white;
}

.section-content__btn {
  width: 100%;
  border: 1px solid #3b9a00;
  padding: 5px 0;
  margin: 10px 0 10px 0;
  color: white;
  font-family: arial;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3d840), to(#7ec31f));
  background: linear-gradient(#a3d840, #7ec31f);
}

.section-content__btn:active {
  border: none;
}

.section-content__btn--disabled {
  background: -webkit-gradient(linear, left top, left bottom, from(#cde4b0), to(#abd182));
  background: linear-gradient(#cde4b0, #abd182);
  border: 1px solid #96cc75;
}

.section-content__btn--red {
  background: -webkit-gradient(linear, left top, left bottom, from(#f76f7f), to(#f03747));
  background: linear-gradient(#f76f7f, #f03747);
  border: 1px solid #a2202a;
}

/* --- input --- */
.input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 42px;
  margin-bottom: 10px;
  border: 1px solid #c6c6c6;
}

.input-row__icon {
  position: absolute;
  top: 3px;
  bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  padding: 0 5px 0 5px;
  border-right: 1px solid #c6c6c6;
  text-align: center;
}

.input-row__input {
  width: 100%;
  padding-left: 60px;
  border: 1px solid transparent;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.input-row__input:focus {
  border: 1px solid black;
}

.input-row__textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 230px;
  max-height: 230px;
  padding: 10px 0 0 10px;
  border: 1px solid #c6c6c6;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input-row__textarea:focus {
  border: 1px solid black;
}

/* --- terms row --- */
.terms-row {
  width: 100%;
  padding: 6px 0 6px 0;
}

.terms-row__label {
  color: #afafaf;
  font-family: arial;
}

/* --- buttons row --- */
.buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons-row .section-content__btn {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

/* --- footer --- */
.footer {
  width: 381px;
  margin-top: 100px;
}

.footer__logo {
  width: 100%;
  opacity: 0.5;
}

@media (orientation: landscape) and (max-width: 1024px) {
  .page {
    width: 381px;
  }
  .section {
    width: 381px;
  }
}

@media (min-width: 1024px) {
  .page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px 0 20px;
    width: 1024px;
  }
  .section {
    width: 381px;
  }
  .section:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section:nth-of-type(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section:nth-of-type(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section:nth-of-type(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section:nth-of-type(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .footer {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .header {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .header__logo {
    max-width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */