* 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    background-image: url("../img/background.jpg")
    background-repeat: no-repeat
    background-size: cover 
    background-position: 0 0   
    min-height: 100vh    
    display: flex
    flex-direction: column
    align-items: center

.page
    display: flex
    flex-direction: column 
    align-items: center
    padding: 20px 0 20px 0

    width: 280px

.header

    &__logo
        width: 100%
        opacity: 0.5

/* --- Section --- */ 
.section 
    // width: 280px
    margin-top: 50px

    &__title 
        color: white
        font-family: arial
        font-weight: normal
        text-align: center
        margin: 20px 0 20px 0


.section-content 
    // Size
    padding: 10px 10px 0 10px
    box-shadow: 0 0 0 9px rgba(0, 0, 0, 0.4)
    border-radius: 1px

    background-color: white

    &__btn 
        // Size
        width: 100%
        border: 1px solid #3b9a00
        padding: 5px 0
        margin: 10px 0 10px 0

        color: white
        font-family: arial
        font-weight: normal
        background: linear-gradient(#a3d840, #7ec31f)

        &:active
            border: none

        &--disabled 
            background: linear-gradient(#cde4b0, #abd182)
            border: 1px solid #96cc75
        
        &--red 
            background: linear-gradient(#f76f7f, #f03747)
            border: 1px solid #a2202a


/* --- input --- */ 
.input-row 
    // Box
    display: flex
    position: relative

    // Size
    height: 42px
    margin-bottom: 10px
    border: 1px solid #c6c6c6
    // padding: 6px 0 6px 0

    &__icon 
        position: absolute
        top: 3px
        bottom: 3px
        // Box
        display: flex
        align-items: center
        justify-content: center

        // Size
        width: 45px
        padding: 0 5px 0 5px
        border-right: 1px solid #c6c6c6

        text-align: center
    

    &__input 
        // Size
        width: 100%
        padding-left: 60px
        border: 1px solid transparent

        outline: none
        transition: 0.4s

        &:focus
            border: 1px solid black
    
    &__textarea 
        // Size
        min-width: 100%
        max-width: 100%
        min-height: 230px
        max-height: 230px
        padding: 10px 0 0 10px
        border: 1px solid #c6c6c6

        outline: none
        transition: 0.2s

        &:focus 
            border: 1px solid black
        

/* --- terms row --- */
.terms-row 
    width: 100%
    padding: 6px 0 6px 0

    &__label 
        color: #afafaf
        font-family: arial

/* --- buttons row --- */
.buttons-row 
    display: flex
    justify-content: space-between

    & .section-content__btn 
        flex-basis: 45%

/* --- footer --- */ 
.footer 
    width: 381px
    margin-top: 100px

    &__logo 
        width: 100%
        opacity: 0.5

@media (orientation: landscape) and (max-width: 1024px)
    .page 
        width: 381px
    
    .section
        width: 381px

@media (min-width: 1024px)
    .page 
        // Flex child
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between

        // Size
        padding: 0 20px 0 20px
        width: 1024px

    .section
        width: 381px

        // Register section
        &:nth-of-type(1)
            order: 1

        // Send email section
        &:nth-of-type(2)
            order: 2

        // Sigin in section
        &:nth-of-type(3)
            order: 1

        // Recover section
        &:nth-of-type(4)
            order: 2

        // Subscribe section
        &:nth-of-type(5)
            order: 5

    .footer 
        order: 6
    .header 
        // Flex child
        flex-basis: 100%
        text-align: center

        &__logo
            max-width: 50%

