* 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    background-image: url("../img/background.jpg")
    background-repeat: no-repeat
    background-size: cover 
    background-position: 0 0   
    min-height: 100vh    

.page 
    width: 100%
    padding: 5%

.header


    &__img 
        width: 100%

/* --- Section --- */ 
.section 
    max-width: 382px
    margin-top: 50px

    &__title 
        color: white
        font-family: arial
        font-weight: normal
        text-align: center
        margin: 20px 0 20px 0


.section-content 
    // Size
    padding: 10px 10px 0 10px
    box-shadow: 0 0 0 9px rgba(0, 0, 0, 0.4)
    border-radius: 1px

    background-color: white

    &__btn 
        // Size
        width: 100%
        border: 1px solid #3b9a00
        padding: 5px 0
        margin: 10px 0 10px 0

        color: white
        font-family: arial
        font-weight: normal
        background: linear-gradient(#a3d840, #7ec31f)

        &:active
            border: none


/* --- input --- */ 
.input-row 
    // Box
    display: flex

    // Size
    height: 41px
    margin-bottom: 10px
    border: 1px solid #c6c6c6
    padding: 6px 0 6px 0s

    &__icon 
        // Box
        display: flex
        align-items: center
        justify-content: center

        // Size
        width: 45px
        padding: 0 5px 0 5px
        border-right: 1px solid #c6c6c6

        text-align: center
    

    &__input 
        // Size
        width: 100%
        padding-left: 10px
        border: 1px solid transparent

        outline: none
        transition: 0.4s

        &:focus
            border: 1px solid black
    
    &__textarea 
        // Size
        min-width: 100%
        max-width: 100%
        min-height: 230px
        max-height: 230px
        padding: 10px 0 0 10px
        border: 1px solid #c6c6c6

        outline: none
        transition: 0.2s

        &:focus 
            border: 1px solid black
        

/* --- terms row --- */
.terms-row 
    width: 100%
    padding: 6px 0 6px 0

    &__label 
        color: #afafaf
        font-family: arial