body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("img/tlo.jpg");
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

/* -- Header -- */
header {
    text-align: center;
    margin-top: 55px;
    opacity: 0.4;
}

div#contentLeft {
    box-sizing: border-box;
    width: 420px;
    float: left;
    box-sizing: border-box;
}

div#contentRight {
    width: 50%;
    box-sizing: border-box;
    width: 420px;
    margin-left: auto;
}

main {
    text-align: center;
    width: 940px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/* -- Box register form -- */
section {
    text-align: center;
    width: 420px; 
}

#registerForm {
    background-color: rgba(0, 0, 0, 0.3);
    height: 460px;
    width: 420px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 60px;
}

#contentRegisterForm {
    background-color: white;
    height: 420px;
    width: 380px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 20px;
    color: black;
    text-align: center;
}

/* -- Content register form -- */
input#username {
    box-sizing: border-box;
    width: 330px;
    height: 40px;
    padding-left: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(198, 198, 198);
    background-image: url("img/user.png") no-repeat 15px, url ("img/solid.png") no-repeat 58px;
}

div#inputForm {
    box-sizing: border-box;
    width: 330px;
    height: 40px;
    padding-left: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(198, 198, 198);
}
input.username {
    box-sizing: border-box;
    width: 330px;
    height: 40px;
    padding-left: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(198, 198, 198);
    background-image: url("img/user.png");
    background-position: 15px 10px;
    background-repeat: no-repeat;
}

input.password {
    box-sizing: border-box;
    width: 330px;
    height: 40px;
    padding-left: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(198, 198, 198);
    background-image: url("img/user.png");
    background-position: 15px 10px;
    background-repeat: no-repeat;
}

input.email {
    box-sizing: border-box;
    width: 330px;
    height: 40px;
    padding-left: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(198, 198, 198);
    background-image: url("img/user.png"), url("img/solid.png");
    background-position: 15px 10px;
    background-repeat: no-repeat;
}

input.location {
    box-sizing: border-box;
    width: 330px;
    height: 40px;
    padding-left: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(198, 198, 198);
    background-image: url("img/user.png");
    background-position: 15px 10px;
    background-repeat: no-repeat;
}

input:focus, input.phone:focus, input.textarea:focus {
    border: 1px solid green;
}

input[type="submit"] {
    background-color: rgb(141, 204, 40);
    border: 1px solid rgb(59, 154, 0);
    border-radius: 3px;
    color: white;
    font-size: 20px;
    height: 45px;
    margin-top: 15px;
    width: 330px;
}

input[type="submit"]:active {
    background-color: rgb(192,222,157);
    border: 1px solid rgb(150, 204, 117)
}

input[type="checkbox"] {
    width: 25px;
    height: 27px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("img/ramka.png");
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

label {
    font-size: 15px;
    display: inline-block;
    width: 330px;
    box-sizing: border-box;
    height: 27px;
    margin-top: 10px;
    
}

label > p {
    opacity: 0.5;
    margin: 0;
    padding: 0;
    height: 27;
    padding-top: 5px;
    float: left;
    margin-left: 10px;
}

input[type="checkbox"]:checked {
    background-image: url("img/all.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* -- Send email -- */
#sendEmail {
    background-color: rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 420px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 60px;
}

#contentSendEmail {
    background-color: white;
    height: 490px;
    width: 380px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 20px;
    color: black;
    text-align: center;
}

/* -- Content send email -- */
input.textarea {
    width: 330px;
    height: 200px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(198, 198, 198);
    height: 230px;
    box-sizing: border-box;
}

/* -- Sigin In Form -- */
#siginInForm {
    background-color: rgba(0, 0, 0, 0.3);
    height: 260px;
    width: 420px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 60px;
}

div#icon {
    background-image: url("img/solid.png");
    background-color: red;
    width: 10px;
    height: 10px;
}

label#checkboxSiginInForm > p {
    opacity: 0.5;
    margin: 0;
    padding: 0;
    height: 27;
    padding-top: 5px;
    float: left;
    margin-left: 10px;
}

label#checkboxSiginInForm {
    width: 165px;
    font-size: 15px;
    display: inline-block;
    box-sizing: border-box;
    height: 27px;
    margin-top: 10px;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
}

#contentSiginInForm {
    background-color: white;
    height: 215px;
    width: 380px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 20px;
    color: black;
    text-align: center;
}
 
/* -- Content sigin in -- */
input[type="submit"]#siginIn {
    width: 140px;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}


/* -- Recover form -- */
#recoverForm {
    background-color: rgba(0, 0, 0, 0.3);
    height: 260px;
    width: 420px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 60px;
}

/* -- Recover content form -- */
#contentRevocerForm {
    background-color: white;
    height: 215px;
    width: 380px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 20px;
    color: black;
    text-align: center;
}

input.phone {
    box-sizing: border-box;
    width: 330px;
    height: 40px;
    padding-left: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(198, 198, 198);
    background-image: url("img/user.png");
    background-position: 15px 10px;
    background-repeat: no-repeat;
}

#buttonSend {
    width: 150px;
    height: 40px;
    margin-right: 25px;
}

#buttonDone {
    width: 150px;
    height: 40px;
}

/* -- Subscribe form -- */
#subscribeForm {
    background-color: rgba(0, 0, 0, 0.3);
    height: 190px;
    width: 420px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 60px;
}

/* -- Subscribe  content form -- */
#contentSubscribeForm {
    background-color: white;
    height: 155px;
    width: 380px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 20px;
    color: black;
    text-align: center;
}

div#buttonSubscribeForm {
    width: 330px;
    margin-left: 25px;
    margin-top: 10px;
}

input[type="submit"]#buttonSubscribe {
    width: 140px;
    height: 40px;
    float: left;
}

input[type="submit"]#buttonNoSubscribe {
    width: 145px;
    height: 40px;
    background-color: rgb(244, 75, 93);
    border:1px solid  rgb(162, 32, 42);
    float: right;
}

img#logoBottom {
    opacity: 0.4;
}